// enter your custom css here
body {
    
}

.container {
	color: #666;
    margin-top: 2em;
    line-height: 2em;
    font-family: 'Lucida Grande', sans-serif;
    font-size: 1.1em;
}

.feature {
    margin-top: 2em;
    padding: 2em;
    border: 1px solid #CCC;
}

.title-super {
	font-size: 3em;
	margin-bottom: 0.6em;
    letter-spacing: 1px;
}

.title-secondary {
	color: #F07c17;
	font-size: 1.6em;
	padding-bottom: 0.9em;
	margin-top: 0;
    letter-spacing: 2px;
}

.col-md-7 p {
    letter-spacing: 1px;
    margin-bottom: 2.1em;
}